body {
    margin: 0;
    text-align: center;
    background-color: white;
    font-family: monospace;
}

.container {
    max-width: 800px;
    padding: 0;
    margin: 0 auto;
}

header {
    background-color: #333;
    padding: 30px;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

li {
    margin-left: 20px;
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 20px;
}

li a:hover {
    color: #00b3b3;
}

h1,
h2,
h3 {
    font-family: 'Arial', sans-serif;
    color: #333;
}

.project {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
}

button {
    background-color: #00b3b3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #008080;
}

#contato {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #00b3b3;
}

.text p {
    font-size: 20px;
    line-height: 1.5;
    /* Increase the value to adjust the bottom spacing */
    color: #333;
}

.contatos {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}

.contatos li {
    margin-bottom: 10px;
}

.contatos a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contatos i {
    margin-right: 10px;
}

.contatos a:hover {
    color: #008080;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    transition: background-color 0.3s ease;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer:hover {
    background-color: #00b3b3;
}
